body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://c.static-nike.com/a/images/w_1920,c_limit/mdbgldn6yg1gg88jomci/image.jpg");
  background-position: center;
}
.nav__links {
  list-style: none;
}
.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}
.nav__links li a {
  transition: all 1.5 ease 0s;
  color: #edf0f1;
}
.nav__links img {
  height: 120px;
  width: 200px;
  margin-right: 280px;
}
.nav__links li a:hover {
  color: #0088a9;
  transition-duration: 1s;
}
.item-title {
  color: aliceblue;
  font-family: "Fira Sans", sans-serif;
}
.titulo {
  font-family: "Fira Sans", sans-serif;
  color: aliceblue;
  margin-left: 50px;
  margin-bottom: 10px;
}
.contenido {
  display: flex;
  justify-content: center;
}
.item-image {
  height: 350px;
  width: 300px;
}
.item-price {
  color: aliceblue;
  margin-right: 100px;
}
.item-details {
  display: flex;
  justify-content: center;
  justify-content: space-between;
}
.shopping-cart {
  color: aliceblue;
}
.shopping-cart-header {
  border-bottom: 1px solid #ccc;
}

.shopping-cart-image {
  max-width: 80px;
  border-radius: 20px;
}

.shopping-cart-quantity-input {
  max-width: 45px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 5px;
  background: #eee;
  padding: 5px;
}

.shopping-cart-total {
  min-height: 96px;
}
.modal-title {
  color: black;
}
.modal-body {
  color: black;
}
footer {
  margin-top: 100px;
  color: white;
}
.redes-sociales {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 50px;
}
.redes-sociales h2 {
  font-family: "Playfair Display", serif;
}
.redes-sociales img {
  height: 75px;
  
}

/* footer {
  background: white;
}
.redes-sociales {
  display: flex;
  justify-content: center;
  margin-left: 30px;
  margin-right: 30px;
  background-color: white;
} */
/* .youtube img {
  width: 150px;
  
}
.twitter img {
  width: 75px;
  
}
.instagram img {
  width: 100px;
  
}
.instagram img:hover {
  transition-duration: 3s;
  color: #0088a9;
} */
